body{
	max-width: 700px;
}

a:link{
	TEXT-DECORATION: none;
}
a:hover{
  COLOR: #009cce;
}
a:active{
	TEXT-DECORATION: none;
}
a:visited{
	TEXT-DECORATION: none;
}

h3{
	width: 600px;
	background-color: #ffe992;
	color: #000000;
	text-align: center;
	padding: 3px;
}

h4{
	color: #000000;
	text-align: left;
	padding: 2px 0em 0px 0em;
}

div.text{
	width: 600px;
	background-color: #ffffff;
	color: #000000;
	text-align: left;
	line-height: 150%;
}

div.text p{
	margin: 1em 2em 3em 2em;
}

