<STYLE>
body
{
		Width: 700px;
}

FONT
{
    FONT-FAMILY: Arial, sans-serif;
}
P
{
    FONT-FAMILY: Arial, sans-serif;
}
PRE
{
    FONT-FAMILY: Arial, sans-serif;
}
TD
{
    FONT-FAMILY: Arial, sans-serif;
}
TH
{
    FONT-FAMILY: Arial, sans-serif;
}
UL
{
    FONT-FAMILY: Arial, sans-serif;
}
H3
{
    FONT-FAMILY: Arial, sans-serif;
}
A:link
{
    TEXT-DECORATION: none;
}
A:hover
{
    COLOR: #009cce;
}
A:active
{
    TEXT-DECORATION: none;
}
A:visited
{
    TEXT-DECORATION: none;
}
</STYLE>

